CLIENT_ORIGIN=http://localhost:5173
AUTH_TOKEN=
SNIPPET_PORT=8000
COMMENTS_PORT=3000
QUERY_PORT=8002
BROKER_PORT=8005
BROKER_TARGETS=http://localhost:8000/events,http://localhost:3000/events,http://localhost:8002/events
BROKER_URL=http://localhost:8005/events
